<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Edit Anime</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>💥Edit Anime name💥</h1>-->
<!--{% if anime %}-->
<!--    <form action="{{ url_for('edit_anime', id=anime.id) }}" method="POST">-->
<!--        <label for="title">Anime Title</label>-->
<!--        <input type="text" id="tittle" name="title" value="{{ anime.title }}" required>-->
<!--        <button type="submit">Save</button>-->
<!--    </form>-->
<!--{% else %} &lt;!&ndash; Helps to find an error if it appears &ndash;&gt;-->
<!--    <p style="color: red;">Anime not found!</p>-->
<!--{% endif %}-->
<!--</body>-->
<!--</html>-->
